---
layout: default
description: A blog by Howard Yeh, a travelling entrepreneur, on startup, programming, technology, art, life, and sometimes Nietzsche.
---

<div id="home">
  <h1>Hacking</h1>
  <ul class="posts">
    {% for post in site.categories.hacking %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Thoughts</h1>
  <ul class="posts">
    {% for post in site.tags.thought %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> </li>
    {% endfor %}
  </ul>
  
  <h1>Stories</h1>
  <ul class="posts">
    {% for post in site.tags.story %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> </li>
    {% endfor %}
  </ul>

  <h1>Plays</h1>
  <ul class="posts">
    {% for post in site.tags.play %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> </li>
    {% endfor %}
  </ul>

  <h1>Essays</h1>
  <ul class="posts">
    {% for post in site.tags.essay %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> </li>
    {% endfor %}
  </ul>
  
  <h1>Poems</h1>
  <ul class="posts">
    {% for post in site.tags.poem %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> </li>
    {% endfor %}
  </ul>
</div>
  
