---
layout: default
---

<div id="post">
  <h1>{{ page.title }}</h1>
{{ content }}
</div>

<div class="tweet_this">
  <iframe allowtransparency="true" frameborder="0" scrolling="no"
        src="http://platform.twitter.com/widgets/tweet_button.html?count=none&text={{page.title}}"
        style="width:130px; height:20px; margin: 0px"></iframe>
</div>

<div id="comments">
  <a href="http://www.metacircus.com{{ page.url }}#disqus_thread">Comments</a>
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/metacircus/embed.js"></script>
  <noscript><a href="http://metacircus.disqus.com/?url=ref">View the discussion thread.</a></noscript>
</div>
